ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9cafc6;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li {
    float: left;
}
li a {
    display: block;
    color: rgb(0, 16, 30);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #355375;
}
li a.active {
    background-color: #4c7aaf;
    color: #d8e1eb;
}
html {
    border-bottom: #4c7aaf 10px solid;
    border-style:groove;
}
body {
      background-color: white;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
h1 {
    color: rgb(0, 16, 30);
    font-size: 36px;
    text-shadow: 2px 2px 4px rgb(0, 77, 144);
    margin-top: 20px;
    top: 150px;
    right: 320px;
    position: relative;
    text-align: center;
}
img {
    border: 2px solid rgb(0, 16, 30);
    border-radius: 8px;
    position: relative;
    margin-bottom: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    right: 40px;
    float: right;
}
p {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 24, 44);
    top: 150px;
    position: relative;
    margin-right: 720px;
    margin-left: 70px;
    text-align: center;
}