body {
      background-color: white;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
h1 {
    color: rgb(0, 16, 30);
    font-size: 36px;
    text-shadow: 2px 2px 4px rgb(0, 77, 144);
    margin-top: 20px;
    position: relative;
    text-align: center;
}
#image-container {
    margin-top: 25px;
}
.image-search-form {
    margin-top: 25px;
}
img {
    margin: 10px;
    border: 2px solid rgb(0, 16, 30);
    border-radius: 8px;
    position: relative;
}
p {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 24, 44);
    margin-top: 5px;
    font-weight: bold;
}
.image-description {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 53, 96);
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9cafc6;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li {
    float: left;
}
li a {
    display: block;
    color: rgb(0, 16, 30);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #355375;
}
li a.active {
    background-color: #4c7aaf;
    color: #d8e1eb;
}